<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>usuarios</servlet-name>
		<servlet-class>login.UsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>master</servlet-name>
		<servlet-class>login.Master</servlet-class>
	</servlet>
    <servlet>
     <servlet-name>tutorial</servlet-name>
     <servlet-class>proyecto.GAEConEclipseServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>nproject</servlet-name>
      <servlet-class>com.scrumexp.servlets.NewProjectServlet</servlet-class>
  </servlet>
  <servlet>
<servlet-name>Historia</servlet-name>
<servlet-class>historiasUsuario.HistoriaServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Historia</servlet-name>
<url-pattern>/Historia</url-pattern>
</servlet-mapping>
  <servlet-mapping>
     <servlet-name>tutorial</servlet-name>
     <url-pattern>/tutorial</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>usuarios</servlet-name>
		<url-pattern>/usuarios</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>master</servlet-name>
		<url-pattern>/master</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>nproject</servlet-name>
	    <url-pattern>/nproject</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
